{% extends 'base.html' %}
{%block content%}

<div class="row w-100 mx-auto justify-content-center mt-3">
    <div class="col-md-12">
        <h1>Welcome to WiseWallet!</h1>
        <p>Your ultimate destination for hassle-free finance management.</p>
        <p>At FinanceTrack, we understand the importance of staying on top of your expenses, budgets, and financial goals. That's why we've created a user-friendly platform that empowers you to take control of your finances with ease.</p>
        <p>With FinanceTrack, you can effortlessly track your expenses, categorize transactions, and analyze your spending patterns—all in one convenient location.</p>
        <p>Our intuitive interface makes it simple to input and organize your financial data, so you can see exactly where your money is going and make informed decisions about your finances.</p>
        <p>Ready to take control of your finances? Sign up for a free account today and start your journey to financial freedom with FinanceTrack!</p>

    </div>
</div>


<div class="row w-100 mx-auto justify-content-center mt-3">
    <div class="d-flex justify-content-center">
        <h2 >Visit us on our social media channels</h2>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <div class="row mt-10">
            <div class="col-md-3">
                <a href="https://www.facebook.com/FinanceTrack" target="_blank" style="color:grey; margin-right: 200px">
                    <i class="bi bi-facebook" style="font-size: 75px;"></i>
                </a>
            </div>
            <div class="col-md-3"><a href="https://www.instagram.com/FinanceTrack" target="_blank" style="color:grey"><i class="bi bi-instagram" style="font-size: 75px;"></i></a></div>
            <div class="col-md-3"><a href="https://www.reddit.com/r/FinanceTrack" target="_blank" style="color:grey"><i class="bi bi-reddit" style="font-size: 75px;"></i></a></div>
            <div class="col-md-3"><a href="https://twitter.com/FinanceTrack" target="_blank" style="color:grey"><i class="bi bi-twitter" style="font-size: 75px;"></i></a></div>
        </div>
    </div>
</div>



{% endblock %}